/*#MD1-2
{
	position:fixed;
	top:144px;
	left:83px;
}
#MD1-3
{
	position:fixed;
	top:144px;
	left:166px;
}
#MD1-4
{
	position:fixed;
	top:144px;
	left:249px;
}
#MD1-5
{
	position:fixed;
	top:144px;
	left:332px;
}
#MD1-6
{
	position:fixed;
	top:144px;
	left:415px;
}
#MD1-7
{
	position:fixed;
	top:201px;
	left:0px;
}	
#MD1-8
{
	position:fixed;
	top:201px;
	left:83px;
}
#MD1-9
{
	position:fixed;
	top:201px;
	left:166px;
}
#MD1-10
{
	position:fixed;
	top:201px;
	left:249px;
}
#MD1-11
{
	position:fixed;
	top:201px;
	left:332px;
}
#MD1-12
{
	position:fixed;
	top:201px;
	left:415px;
}
#MD1-13
{
	position:fixed;
	top:258px;
	left:0px;
}	
#MD1-14
{
	position:fixed;
	top:258px;
	left:83px;
}
#MD1-15
{
	position:fixed;
	top:258px;
	left:166px;
}
#MD1-16
{
	position:fixed;
	top:258px;
	left:249px;
}
#MD1-17
{
	position:fixed;
	top:258px;
	left:332px;
}
#MD1-18
{
	position:fixed;
	top:258px;
	left:415px;
}
*/
/*.MD1 {
background: white;
text-align: justify;
width: 800px;
float:left;
}*/
{
	background-color: aqua;
}